// Atomic
$background-color: #E8A73C;
$restart-button-color: #7FE83C;
$input-field-color: #FFED4F;
$submit-button-color: #FF6F42;
$temp-color-1: pink;
$temp-color-2: yellow;
$temp-color-3: violet;
$header-color: $background-color;
$body-color: $background-color;
$footer-color: $background-color;

$height: 768px;
$width: 1366px;


$font-family: 'OpenSansBold';
